@import './elements.scss';

.app-container {
    width: 100vw;
    display: flex;
}

.menu-container {
    width: 20%;
}

/* //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\ */

.menu {
    box-sizing: border-box;
    padding: 2em;
    margin-top: 5em;
}

h2 {
    cursor: pointer;
    width: max-content;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
    padding: .2em;
    line-height: 95%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li, .galery>span {
    cursor: pointer;
    display: block;
    margin-bottom: .3em;
}

.selected {
    margin-left: 1em;
    text-decoration: underline;
}

.galery-child {
    margin-left: 1em;
}

/* //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\ */